.view-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/images/login-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    .login{
        display: flex;
        flex-direction: column;
        width: 40%;
        background: rgba(255, 255, 255, 0.94);
        box-shadow: 0 0 10px #000;
        padding: 1rem;
        border-radius: 0.3rem;

        h1{
            color: $pink;
            margin-bottom: 1rem;
        }

        p {
            color: #666;
            text-align: justify;
            line-height: 1.8;
            margin-bottom: 1rem;
            font-size: 0.8rem;

            a{
                color: $pink;
            }
        }

        input{
            border: 1px #000 solid;
            background: none;
            outline: none !important;
            padding: 0.5rem;
            margin-bottom: 1rem;
        }

        label{
            font-size: 0.8rem;
            
            a{
                color: $pink;
            }
        }
    }
}